@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: 68, 97, 242; /* rgba(68, 97, 242) */
  --brand-light: 240, 244, 252; /* rgba(240, 244, 252) */
  --brand-dark: 18, 45, 156; /* rgba(18, 45, 156) */

  --my-grey-0: 255, 255, 255; /* rgb(255, 255, 255) */
  --my-grey-50: 249, 250, 251; /* rgb(249, 250, 251) */
  --my-grey-100: 243, 244, 246; /* rgb(243, 244, 246) */
  --my-grey-200: 229, 231, 235; /* rgb(229, 231, 235) */
  --my-grey-300: 209, 213, 219; /* rgb(209, 213, 219) */
  --my-grey-400: 156, 163, 175; /* rgb(156, 163, 175) */
  --my-grey-500: 107, 114, 128; /* rgb(107, 114, 128) */
  --my-grey-600: 75, 85, 99; /* rgb(75, 85, 99)  */
  --my-grey-700: 55, 65, 81; /* rgb(55, 65, 81)  */
  --my-grey-800: 31, 41, 55; /* rgb(31, 41, 55)  */
  --my-grey-900: 17, 24, 39; /* rgb(17, 24, 39) */
}

.dark {
  --brand-light: 19, 27, 44; /*rgb(19, 27, 44)*/
  --brand-dark: 68, 97, 242; /* rgba(68, 97, 242) */

  --my-grey-0: 24, 33, 47; /* rgb(24, 33, 47);*/
  --my-grey-50: 17, 24, 39; /* rgb(17, 24, 39);*/
  --my-grey-100: 31, 41, 55; /* rgb(31, 41, 55);*/
  --my-grey-200: 55, 65, 81; /* rgb(55, 65, 81);*/
  --my-grey-300: 75, 85, 99; /* rgb(75, 85, 99);*/
  --my-grey-400: 107, 114, 128; /* rgb(107, 114, 128);*/
  --my-grey-500: 156, 163, 175; /* rgb(156, 163, 175);*/
  --my-grey-600: 209, 213, 219; /* rgb(209, 213, 219);*/
  --my-grey-700: 229, 231, 235; /* rgb(229, 231, 235);*/
  --my-grey-800: 243, 244, 246; /* rgb(243, 244, 246);*/
  --my-grey-900: 249, 250, 251; /* rgb(249, 250, 251);*/
}
