@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: 68, 97, 242; /* rgba(68, 97, 242) */
    --brand-light: 240, 244, 252; /* rgba(240, 244, 252) */
    --brand-dark: 18, 45, 156; /* rgba(18, 45, 156) */

    --my-grey-0: 255, 255, 255; /* rgb(255, 255, 255) */
    --my-grey-50: 249, 250, 251; /* rgb(249, 250, 251) */
    --my-grey-100: 243, 244, 246; /* rgb(243, 244, 246) */
    --my-grey-150: 243, 244, 246; /* rgb(243, 244, 246) */
    --my-grey-200: 229, 231, 235; /* rgb(229, 231, 235) */
    --my-grey-300: 209, 213, 219; /* rgb(209, 213, 219) */
    --my-grey-400: 156, 163, 175; /* rgb(156, 163, 175) */
    --my-grey-500: 107, 114, 128; /* rgb(107, 114, 128) */
    --my-grey-600: 75, 85, 99; /* rgb(75, 85, 99)  */
    --my-grey-700: 55, 65, 81; /* rgb(55, 65, 81)  */
    --my-grey-800: 31, 41, 55; /* rgb(31, 41, 55)  */
    --my-grey-900: 17, 24, 39; /* rgb(17, 24, 39) */

    /* Chad Cn */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --brand-light: 19, 27, 44; /*rgb(19, 27, 44)*/
    --brand-dark: 68, 97, 242; /* rgba(68, 97, 242) */

    --my-grey-0: 24, 33, 47; /* rgb(24, 33, 47);*/
    --my-grey-50: 17, 24, 39; /* rgb(17, 24, 39);*/
    --my-grey-100: 31, 41, 55; /* rgb(31, 41, 55);*/
    --my-grey-150: 19, 27, 44; /* rgb(19, 27, 44);*/
    --my-grey-200: 55, 65, 81; /* rgb(55, 65, 81);*/
    --my-grey-300: 75, 85, 99; /* rgb(75, 85, 99);*/
    --my-grey-400: 107, 114, 128; /* rgb(107, 114, 128);*/
    --my-grey-500: 156, 163, 175; /* rgb(156, 163, 175);*/
    --my-grey-600: 209, 213, 219; /* rgb(209, 213, 219);*/
    --my-grey-700: 229, 231, 235; /* rgb(229, 231, 235);*/
    --my-grey-800: 243, 244, 246; /* rgb(243, 244, 246);*/
    --my-grey-900: 249, 250, 251; /* rgb(249, 250, 251);*/

    /* chadcn */

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
